/* input{
    width: 70vw;
    height: 50px;
    padding: 10px;
    margin: 30px auto;
}
button{
    width: 250px;
    height: 50px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: white;
    color: black;
} */

.padding {
  padding: 7px 15px;
  color: white;
}
.search__title {
  margin: 8px 0px;
}
input {
  width: 80vw;
  padding: 9px 0px;
  border-radius: 5px;
  background-color: black;
  border: 1px solid #ffffff;
}
input[type="text"] {
  padding-left: 10px;
  color: white;
  font-size: medium;
}
input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.search__button button {
  padding: 8px 35px;
  font-style: normal;
  font-weight: 400;
  margin: 5px 0px;
  border-radius: 5px;
}
